@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" id="password"/>
                 <div class="mt-2">
                    <i class="far fa-eye" onclick="mostrarContrasena()"></i>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label for="nombre" class="form-label">nombres</label>
                <input type="text" asp-for="Input.nombre" class="form-control" id="nombre"  required/>
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" asp-for="Input.apellido" class="form-control" id="apellidos"  required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="pais" class="form-label">País</label>
                <input type="text" asp-for="Input.pais" class="form-control" id="pais" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-6 mt-4">
                    <select class= aria-label="Default select example" asp-for="Input.TipoDocumento" required>
                        
                        <option selected >Tipo Documento</option>
                        <option value="0">Tarjeta identidad</option>
                        <option value="1">cedula extranjeria</option>
                        <option value="2">Pasaporte</option>
                        <option value="3">otro</option>
                    </select>
                    <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-6">
                <label for="numeroDocumento" class="form-label">Identificación</label>
                <input asp-for="Input.numeroDocumento" type="text" class="form-control" id="numeroIdentificacion"  required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <div class="col-md-12">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input asp-for="Input.ciudad" type="text" class="form-control" id="ciudad" />
            </div>
            <div class="col-md-12">
                <label for="cituacionLaboral" class="form-label">Situación laboral</label>
                <input asp-for="Input.SituacionLaboral" type="text" class="form-control" id="cituacionLaboral" name="situacionLaboral" />
            </div>
            <div class="col-md-12">
                <label for="txtDireccionActual" class="form-label">Dirección Actual</label>
                <input asp-for="Input.DireccionActual" type="text" class="form-control" id="txtDireccionActual"  />
            </div>
            
            <div class="col-md-12">
                <label for="txtCelular" class="form-label">Numero Telefonico</label>
                <input type="text" class="form-control" id="txtCelular" />
            </div>
            <div class="col-md-12">
                <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
                <input asp-for="Input.fechaNacimiento" type="text" class="form-control" id="fechaNacimiento" required />
                <div class="invalid-feedback">Este campo es requerido</div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
